{{#section 'title'}}
  Account Info
{{/section}}

{{#section 'css'}}
  
{{/section}}

{{#section 'js'}}

    <script type="text/javascript">
    $(function(){

      $('#btnUpdate').click(function( event ) {
          event.preventDefault();
          swal({
            type: 'success',
            title: 'Update Successfully',
            showConfirmButton: false,
            timer: 1500
          }).then((result) => {
              $('#accForm').submit();
          })
      });

    });
    </script>
{{/section}}

<div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="/home">Home</a><span>&raquo;</span></li>
            <li><strong>Account Information</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
  <!-- Main Container -->
  {{#with user}}
  <section class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <div class="col-main col-sm-9 col-xs-12">
          <div class="my-account">
            <div class="page-title">
              <h2>Account Information</h2>
            </div>
            <br><br>
            <div class="single-input p-bottom50 clearfix">
              <form action="/account/update" method="post" id="accForm">
                <div class="row form-group">
                    <div class="col-sm-2">
                      <label for="cusID">Your ID:</label>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-text">
                        <input type="text" name="cusID" class="form-control disabled" value="{{ID}}">
                      </div>
                    </div>
                </div>
                <br><br>
                <div class="row form-group">
                    <div class="col-sm-2">
                      <label for="cusName">Full Name:</label>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-text">
                        <input type="text" name="cusName" class="form-control" value="{{HoTen}}">
                      </div>
                    </div>
                </div>
                <br><br>
                <div class="row form-group">
                    <div class="col-sm-2">
                      <label for="cusGender">Gender:</label>
                    </div>
                    {{#if GioiTinh}}
                      <div class="col-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="cusGender" value="1" id="R1" checked>
                          <label class="form-check-label" for="R1">Male</label>
                        </div>        
                      </div>
                      <div class="col-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="cusGender" value="0" id="R2">
                          <label class="form-check-label" for="R2">Female</label>
                        </div>
                      </div>
                    {{else}}
                      <div class="col-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="cusGender" value="1" id="R1">
                          <label class="form-check-label" for="R1">Male</label>
                        </div>        
                      </div>
                      <div class="col-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="cusGender" value="0" id="R2" checked>
                          <label class="form-check-label" for="R2">Female</label>
                        </div>
                      </div>
                    {{/if}}
                </div>
                <br><br>    
                <div class="row form-group">
                    <div class="col-sm-2">
                      <label>Birthday:</label>
                    </div>
                     <div class="col-sm-6">
                      <div class="input-text">
                        <input type="text" name="cusBirthday" class="form-control" value="{{NgaySinh}}">
                      </div>
                    </div>
                </div>
                <br><br>    
                <div class="row form-group">
                    <div class="col-sm-2">
                      <label for="phone">Phone Number:</label>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-text">
                        <input type="tel" name="cusPhone" class="form-control" id="myPhone" value="{{SDT}}">
                      </div>
                    </div>
                </div>
                <br><br>  
                <div class="row form-group">
                    <div class="col-sm-2">
                      <label for="email">Email:</label>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-text">
                        <input type="email" name="cusEmail" class="form-control" value="{{Email}}">
                      </div>
                    </div>
                </div>
                <br><br>  
                <div class="row form-group">
                    <div class="col-sm-2">
                      <label for="address">Address:</label>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-text">
                        <input type="text" name="cusAddress" class="form-control" value="{{DiaChi}}">
                      </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                      <button id="btnUpdate" type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <aside class="right sidebar col-sm-3 col-xs-12">
          <div class="sidebar-account block">
            <div class="sidebar-bar-title">
              <h3>My Account</h3>
            </div>
            <div class="block-content">
              <ul>
                <li class="current"><a href="/account">Account Information</a></li>
                <li><a href="/account/orders">My Orders</a></li>
              </ul>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
  {{/with}}


