{{#section 'title'}}
  Register Page
{{/section}}


{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
{{/section}}


{{#section 'js'}}
    <script src="/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script type="text/javascript">
      function recaptchaCallback() {
          $('#btnRegister').removeAttr('disabled');
      };

      $(function() {

        var phonePattern = /(09|01[2|6|8|9])+([0-9]{8,9})\b/,
            emailPattern = /\w+@\w+(\.\w){1,2}/,
            datePattern = /^\d{2}[/]\d{2}[/]\d{4}$/;

        $('#cusBirthday').datepicker({
          format: 'dd/mm/yyyy',
          autoclose: true
        });

        $('#cusBirthday').change(function() {
          var date = $(this).val();
          if(!date.match(datePattern))
          {
            $(this)[0].setCustomValidity('Invalid Date!');
            $(this).css('border-color', 'red');
          }
          else 
          {
            $(this)[0].setCustomValidity("");
            $(this).css('border-color', 'green');
          }
        });

        $('#cusName').change(function() {
          $(this).css('border-color', 'green');
        });

        $('#cusAddress').change(function() {
          $(this).css('border-color', 'green');
        });

        $('#cusEmail').change(function() {
          var email = $(this).val();
          if (!email.match(emailPattern))
            $(this).css('border-color', 'red');
          else 
            $(this).css('border-color', 'green');
        });

        $('#cusPhone').change(function() {
          var phone = $(this).val();
          if (!phone.match(phonePattern) || phone.length > 11)
          {
            $(this)[0].setCustomValidity('Phone number must have 10-11 digits and numbers only!');
            $(this).css('border-color', 'red');
          }
          else 
          {
            $(this)[0].setCustomValidity("");
            $(this).css('border-color', 'green');
          }
        });

        $('#cusPassword').change(function() {
          if ($(this).val() !== $('#cusRePass').val())
          {
            $('#cusRePass')[0].setCustomValidity('Passwords do not match!');
            $(this).css('border-color', 'red');
            $('#cusRePass').css('border-color', 'red');
          }
          else 
          {
            $('#cusRePass')[0].setCustomValidity("");
            $(this).css('border-color', 'green');
            $('#cusRePass').css('border-color', 'green');
          }
        });

        $('#cusRePass').change(function() {
          if ($(this).val() !== $('#cusPassword').val())
          {
            $(this)[0].setCustomValidity('Passwords do not match!');
            $(this).css('border-color', 'red');
            $('#cusPassword').css('border-color', 'red');
          }
          else 
          {
            $(this)[0].setCustomValidity("");
            $(this).css('border-color', 'green');
            $('#cusPassword').css('border-color', 'green');
          }
        });

      });
    </script>

    {{#if Duplicate}}
        <script type="text/javascript">
            swal({
              type: 'error',
              title: 'Register failed.',
              text: 'Username already exists!'
            }).then((result) => {
                $('#cusUsername').css('border-color', 'red');
                $('#cusUsername').change(function(event) {
                  $(this).css('border-color', '');
                });
                $('#frmRegister').submit(function(event) {
                    event.preventDefault();
                });
            });
        </script>
    {{else if isChecked}}
        <script type="text/javascript">
            swal({
              type: 'success',
              title: 'Register Successfully',
              showConfirmButton: false,
              timer: 1500
            }).then((result) => {
              window.location.href = "/account/login";
            });
        </script>
    {{/if}}
{{/section}}


<!-- Breadcrumbs -->
  
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="/home">Home</a><span>&raquo;</span></li>
            <li><strong>Register</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
  
  <!-- Main Container -->
  <section class="main-container col1-layout">
    <div class="main container">
      <div class="page-content">
        <div class="account-login">
            <div class="single-input p-bottom50 clearfix">
              <form id="frmRegister" action="" method="post">
                <div class="check-title">
                    <h4>New Customer</h4>
                </div>
                <br>

                {{#if Duplicate}}
                  {{#with Fields}}
                  <div class="row">
                    <div class="col-md-6 col-sm-8">
                      <div class="form-group">
                          <label for="cusName">Full Name<span class="required">*</span></label>
                          <input type="text" id="cusName" name="cusName" class="form-control" 
                          required value="{{cusName}}">
                      </div>
                      <div class="form-group">
                          <label for="cusBirthday">Birthday<span class="required">*</span></label>
                          <input type="text" id="cusBirthday" name="cusBirthday" class="form-control" 
                          required  value="{{cusBirthday}}">
                      </div>
                      <div class="form-group">
                          <label for="cusAddress">Address<span class="required">*</span></label>
                          <input type="text" id="cusAddress" name="cusAddress" class="form-control" 
                          required  value="{{cusAddress}}">
                      </div>
                      <div class="form-group">
                          <label for="cusGender">Gender<span class="required">*</span></label>
                          <br>
                          {{#if GioiTinh}}  
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="cusGender" value="1" id="R1" checked>
                              <label class="form-check-label" for="R1">Male</label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="cusGender" value="0" id="R2">
                              <label class="form-check-label" for="R2">Female</label>
                          </div>
                          {{else}}
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="cusGender" value="1" id="R1">
                              <label class="form-check-label" for="R1">Male</label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="cusGender" value="0" id="R2"checked>
                              <label class="form-check-label" for="R2">Female</label>
                          </div>
                          {{/if}}
                      </div>
                      
                        {{!-- <div class="billing-checkbox">
                          <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                          Sign up for our newsletter! 
                        </div> --}}
                        <div class="g-recaptcha" data-callback="recaptchaCallback" 
                        data-sitekey="6LcAWlsUAAAAAPt8x-WMQsTjkfAXalEqM9jD4DT8"></div>
                        <br>
                        <div class="submit-text">
                          <button class="button" disabled type="submit" id="btnRegister">
                            <i class="fa fa-user"></i>&nbsp; <span>Register</span>
                          </button>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-8">
                      <div class="form-group">
                          <label for="cusEmail">Email<span class="required">*</span></label>
                          <input type="email" id="cusEmail" name="cusEmail" class="form-control" 
                          required value="{{cusEmail}}">
                      </div>
                      <div class="form-group">
                          <label for="cusPhone">Phone<span class="required">*</span></label>
                          <input type="phone" id="cusPhone" name="cusPhone" class="form-control" 
                          required value="{{cusPhone}}">
                      </div>
                      <div class="form-group">
                          <label for="cusUsername">Username<span class="required">*</span></label>
                          <input type="text" id="cusUsername" name="cusUsername" class="form-control" 
                          required value="{{cusUsername}}">
                      </div>
                      <div class="form-group">
                          <label for="cusPassword">Password<span class="required">*</span></label>
                          <input type="password" id="cusPassword" name="cusPassword" class="form-control" required>
                      </div>
                      <div class="form-group">
                          <label for="cusRePass">RePassword<span class="required">*</span></label>
                          <input type="password" id="cusRePass" name="cusRePass" class="form-control" required>
                      </div>
                    </div>
                  </div>
                  {{/with}}
                {{else}}
                  <div class="row">
                    <div class="col-md-6 col-sm-8">
                      <div class="form-group">
                          <label for="cusName">Full Name<span class="required">*</span></label>
                          <input type="text" id="cusName" name="cusName" class="form-control" required>
                      </div>
                      <div class="form-group">
                          <label for="cusBirthday">Birthday<span class="required">*</span></label>
                          <input type="text" id="cusBirthday" name="cusBirthday" class="form-control" required>
                      </div>
                      <div class="form-group">
                          <label for="cusAddress">Address<span class="required">*</span></label>
                          <input type="text" id="cusAddress" name="cusAddress" class="form-control" required>
                      </div>
                      <div class="form-group">
                          <label for="cusGender">Gender<span class="required">*</span></label>
                          <br>  
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="cusGender" value="1" id="R1" checked>
                              <label class="form-check-label" for="R1">Male</label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="cusGender" value="0" id="R2">
                              <label class="form-check-label" for="R2">Female</label>
                          </div>
                      </div>
                      
                        {{!-- <div class="billing-checkbox">
                          <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                          Sign up for our newsletter! 
                        </div> --}}
                        <div class="g-recaptcha" data-callback="recaptchaCallback" 
                        data-sitekey="6LcAWlsUAAAAAPt8x-WMQsTjkfAXalEqM9jD4DT8"></div>
                        <br>
                        <div class="submit-text">
                          <button class="button" disabled type="submit" id="btnRegister">
                            <i class="fa fa-user"></i>&nbsp; <span>Register</span>
                          </button>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-8">
                      <div class="form-group">
                          <label for="cusEmail">Email<span class="required">*</span></label>
                          <input type="email" id="cusEmail" name="cusEmail" class="form-control" required>
                      </div>
                      <div class="form-group">
                          <label for="cusPhone">Phone<span class="required">*</span></label>
                          <input type="phone" id="cusPhone" name="cusPhone" class="form-control" required>
                      </div>
                      <div class="form-group">
                          <label for="username">Username<span class="required">*</span></label>
                          <input type="text" id="cusUsername" name="cusUsername" class="form-control" required>
                      </div>
                      <div class="form-group">
                          <label for="cusPassword">Password<span class="required">*</span></label>
                          <input type="password" id="cusPassword" name="cusPassword" class="form-control" required>
                      </div>
                      <div class="form-group">
                          <label for="cusRePass">RePassword<span class="required">*</span></label>
                          <input type="password" id="cusRePass" name="cusRePass" class="form-control" required>
                      </div>
                    </div>
                  </div>
                {{/if}}

              </form>
          </div> 
        </div>
      </div>
    </div>
  </section>
  <!-- Main Container End --> 