{{#section 'title'}}
{{#with type}}
{{TenLoai}}
{{/with}}
{{/section}}

{{#section 'css'}}
  
{{/section}}

{{#section 'js'}}

{{/section}}

<!-- Breadcrumbs -->
  
<div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="/home">Home</a><span>&raquo;</span></li>
            <li><strong>All Products</strong></li>
          </ul>
        </div>
      </div>
    </div>
</div>
  <!-- Breadcrumbs End --> 

  <!-- Main Container -->
<div class="main-container col2-left-layout">
	<div class="container">
  		<div class="row">
    		<div class="col-main col-sm-9 col-xs-12 col-sm-push-3">
      			<div class="category-description std">
        			<div class="slider-items-products">
          				<div id="category-desc-slider" class="product-flexslider hidden-buttons">
            				<div class="slider-items slider-width-col1 owl-carousel owl-theme"> 
              
				              	<!-- Item -->
				              	<div class="item">
				              		<a href="#x"><img alt="HTML template" src="/images/cat-slider-img1.jpg"></a>
            						<div class="inner-info">
          								<div class="cat-img-title"> <span>Best Product 2017</span>
            								<h2 class="cat-heading">Best Selling Brand</h2>
            								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            								<a class="info" href="#">Shop Now</a>
            							</div>
									</div>
      							</div>
          						<!-- End Item --> 
          
								<!-- Item -->
								<div class="item">
									<a href="#x"><img alt="HTML template" src="/images/cat-slider-img2.jpg"></a>
								</div>
          						<!-- End Item --> 
							</div>
						</div>
					</div>
				</div>
	      		<div class="shop-inner">
	        		<div class="page-title">
	          			<h2>
	          			{{#with type}}
						{{TenLoai}}
						{{/with}} 
						</h2>
	        		</div>
	        		{{!-- <div class="toolbar">
	          			<div class="sorter">
	            			<div class="short-by">
	              				<label>Sort By:</label>
	              				<select>
					                <option selected="selected">Type</option>
					                <option>Brand</option>
	              				</select>
	            			</div>
	          			</div>
	        		</div> --}}
	        		<div class="product-grid-area">
	        			<ul class="products-grid">
	        				{{#each searchType}}
	        				<li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 ">
	        					<div class="product-item">
	        						<div class="item-inner">
	        							<div class="product-thumbnail">
	        								<div class="pr-img-area"> <a title={{Ten}} href="/products/detail?id={{ID}}">
	        									<figure> <img class="first-img" src={{HinhAnh}} alt="HTML template"> </figure>
	        								</a> </div>
	        								<div class="pr-info-area">
	        									<div class="pr-button">
	        										<div class="mt-button quick-view"> <a href="/products/quickview?id={{ID}}"> <i class="fa fa-search"></i> </a> </div>
	        									</div>
	        								</div>
	        							</div>
	        							<div class="item-info">
	        								<div class="info-inner">
	        									<div class="item-title"> 
	        										<a title={{Ten}} href="/products/detail?id={{ID}}"> {{Ten}} </a> 
	        									</div>
	        									<div class="item-content">
	        										<div class="item-price">
	        											<div class="price-box">
	        												<p class="special-price"> <span class="price-label">Regular Price:</span> <span class="price"> {{number_format GiaBan}} VND </span> </p>
	        											</div>
	        											<div class="pro-action">
	        												<button type="button" class="add-to-cart"><span> Add to Cart</span> </button>
	        											</div>
	        										</div>
	        									</div>
	        								</div>
	        							</div>
	        						</div>
	        					</div>
	        				</li>
	        				{{/each}}
						</ul>
					</div>
					{{!-- <div class="pagination-area">
						<ul class="pagination">
							<li class="disabled">
								<a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
							</li>
							{{#each page_numbers}}
								{{#if isCurPage}}
								<li class="active"><a href="javascript:;">{{value}}</a></li>
								{{else}}
								<li><a href="?page={{value}}">{{value}}</a></li>
								{{/if}}
							{{/each}}
							<li>
								<a href="#" aria-label="Next"><span aria-hidden="true">»</span></a>
							</li>
						</ul>
					</div> --}}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Main Container End -->