{{#section 'js'}}
	<!-- Slider Js --> 
	<script type="text/javascript" src="/js/revolution-slider.js"></script> 
	<script type="text/javascript" src="/js/revolution-extension.js"></script> 

	<!-- countdown js --> 
	<script type="text/javascript" src="/js/countdown.js"></script> 
	<!-- jquery.flexslider js --> 
	<script type="text/javascript" src="/js/jquery.flexslider.js"></script> 
	<!--cloud-zoom js --> 
	<script type="text/javascript" src="/js/cloud-zoom.js"></script>
	<script type='text/javascript'>
        jQuery(document).ready(function(){
        	$('#quick_view_popup-close').on('click', function(){
		        window.history.back();
		    });

            if ($('#ProQuantity').val() == 0)
            {
            	$('#proStock').html('Out of stock');
            	$('#proStock').css('background-color', 'red');
            	$('#qty').val(0);
            	$('.dec qtybutton').click(function(event) {
            		event.preventDefault();
            	});
            	$('.inc qtybutton').click(function(event) {
            		event.preventDefault();
            	});
            	$('.mybtn').click(function(event){
	                event.preventDefault();
	                // swal({
	                //   type: 'error',
	                //   title: 'Error',
	                //   text: 'Product is out of stock!'
	                // });
	            });
            }
            else
            {
	            $('.dec qtybutton').click(function(event) {
            		var val = $('#qty').val();
            		$('#qty').val(--val);
            	});
            	$('.inc qtybutton').click(function(event) {
            		var val = $('#qty').val();
            		$('#qty').val(++val);
            	});
            }
        });
    </script>

    {{#if Login}}
        <script type="text/javascript">
        if ($('#ProQuantity').val() != 0)
        {
          $('.mybtn').click(function(event){
              event.preventDefault();
              swal({
                type: 'success',
                title: 'Add Successfully',
                showConfirmButton: false,
                timer: 1500
              }).then((result) => {
                  $('.frmAddToCart').submit();
              });
          });
      	}
        </script>
    {{else}}
      <script type="text/javascript">
      if ($('#ProQuantity').val() != 0)
      {
        $('.mybtn').click(function(event){
              event.preventDefault();
              swal({
                type: 'error',
                title: 'You have to login'
              }).then((result) => {
                  $('.frmAddToCart').submit();
              });
          });
      }
      </script>
    {{/if}}
{{/section}}

{{#with quickview}}
<div id="quick_view_popup-overlay"></div>
<div style="display: block;" id="quick_view_popup-wrap">
	<div id="quick_view_popup-outer">
		<div id="quick_view_popup-content">
			<div style="width:auto;height:auto;overflow: auto;position:relative;">
				<div class="product-view-area">
					<div class="product-big-image col-xs-12 col-sm-5 col-lg-5 col-md-5">
						<div class="large-image"> <a href="{{HinhAnh}}" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> <img class="zoom-img" src="{{HinhAnh}}"> </a> </div>
						<div class="flexslider flexslider-thumb">
							<ul class="previews-list slides">
								<li>
									<a href='{{HinhAnh}}' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '{{HinhAnh}}' ">
										<img src="{{HinhAnh}}" alt = "Thumbnail 2"/>
									</a>
								</li>
								<li>
									<a href='/images/products/{{ID}}-2.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '/images/products/{{ID}}-2.jpg' ">
										<img src="/images/products/{{ID}}-2.jpg" alt = "Thumbnail 1"/>
									</a>
								</li>
								<li>
									<a href='/images/products/{{ID}}-3.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '/images/products/{{ID}}-3.jpg' ">
										<img src="/images/products/{{ID}}-3.jpg" alt = "Thumbnail 1"/>
									</a>
								</li>
							</ul>
						</div>
						<!-- end: more-images --> 
					</div>
					<input type="hidden" id="ProQuantity" value="{{SoLuongTon}}">
					<div class="col-xs-12 col-sm-7 col-lg-7 col-md-7">
						<div class="product-details-area">
							<div class="product-name">
								<h1>{{Ten}}</h1>
							</div>
							<div class="price-box">
								<p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> {{number_format GiaBan}} VND </span> </p>
							</div>
							<div class="ratings">
								<div class="rating">
									<p class="availability in-stock pull-right">Availability: <span id="proStock">In Stock</span></p>
								</div>
							</div>
        				</div>
				        <div class="product-variation">
				        	<form action="/cart/add?id={{ID}}" method="post" class='frmAddToCart'>
				        		<div class="cart-plus-minus">
									<label for="qty">Quantity:</label>
									<div class="numbers-row">
										<div class="dec qtybutton"><i class="fa fa-minus">&nbsp;</i></div>
										<input type="number" class="qty" title="Qty" value="1" min="1" max="10" 
										id="qty" name="proQty">
										<div class="inc qtybutton"><i class="fa fa-plus">&nbsp;</i></div>
									</div>
								</div>
								<button class="mybtn button pro-add-to-cart" title="Add to Cart" type="submit">
									<span><i class="fa fa-shopping-basket"></i> Add to Cart</span>
								</button>
				        	</form>
				        </div>
	    			</div>
				</div>
			</div>
		</div>
	</div>
	<a style="display: inline;" id="quick_view_popup-close"><i class="icon pe-7s-close"></i></a>
</div>
{{/with}}