{{#section 'title'}}
  Shopping Cart
{{/section}}

{{#section 'css'}}
  
{{/section}}

{{#section 'js'}}

{{#if showError}}
    <script type="text/javascript">
      swal({
        type: 'error',
        title: 'Your cart is empty',
        text: 'Please add at least one product!'
      });
    </script>
{{/if}}

<script type="text/javascript">

    $(function() {
      // var $totalPrice = $('.myTotal');
      // var totalPrice = 0;

      // function numberFormat(number) {
      //   var strNumber = number.toString();
      //   var strReverse = '';
      //   // Đảo chuỗi
      //   for (var i = strNumber.length - 1; i >= 0; i--) {
      //     strReverse += strNumber[i];
      //   }
      //   var strFormat = '';
      //   while (strReverse.length >= 3)
      //   {
      //     strFormat += strReverse.substr(0, 3);
      //     if (strReverse.length > 3)
      //       strFormat += ',';
      //   }
      // }

      // Tính tổng từng hàng => tổng giỏ hàng
      // $('.row-tb-cart').each(function () {

      //   // var $proID = $(this).find('td:first');                // Cột ID sp
      //   // var $proName = $(this).find('td:nth-child(2)');       // Cột Tên sp
      //   var $proUnitPrice = $(this).find('td:nth-child(3)');  // Cột Giá 1 sp
      //   var $proQty = $(this).find('td:nth-child(4)');        // Cột Số lượng sp
      //   var $proTotal = $(this).find('td:nth-child(5)');      // Cột Tổng giá
      //   var $proDel = $(this).find('td:nth-child(6)');        // Cột Xóa cart

      //   var proUnitPrice = $proUnitPrice.children(':input').val();  // Giá 1 sp
      //   var proQty = $proQty.children().children(':input').val();   // Số lượng sp
      //   var proTotal = proUnitPrice * proQty;                       // Tổng giá
      //   $proTotal.children(':input').val(proTotal);
      //   $proTotal.children('span').text(proTotal + ' VND');
        
      //   totalPrice += proTotal;
      // });

      // $totalPrice.children(':input').val(totalPrice);
      // $totalPrice.children('span').text(totalPrice + ' VND');

      // Thay đổi số lượng của 1 sp nào đó
      $('.myQty').each(function() {
        $(this).on('change', function(event) {
          var proQty = $(this).val();
          if (proQty > 10)
            proQty = 10;
          if (proQty < 1)
            proQty = 1;
          $(this).val(proQty);
          $(this).parent().submit();

          // var $proUnitPrice = $(this).parents('td').prev();
          // var $proTotal = $(this).parents('td').next();
          // var proUnitPrice = $proUnitPrice.children(':input').val();
          // var old_proTotal = $proTotal.children(':input').val();

          // // Update Tổng giá của sp
          // var new_proTotal = proQty * proUnitPrice;
          // $proTotal.children(':input').val(new_proTotal);
          // $proTotal.children('span').text(new_proTotal + ' VND'); 

          // //Update Tổng giá của giỏ hàng
          // totalPrice += (new_proTotal - old_proTotal);
          // $totalPrice.children(':input').val(totalPrice);
          // $totalPrice.children('span').text(totalPrice + ' VND');
        });
      });

      // Xóa 1 hàng trong danh sách giỏ hàng
      $('.btnDel').each(function() {
        $(this).on('click', function(event) {
          var $this = $(this);
          $this.parents('tr').fadeOut(function(){
            swal({
                  type: 'success',
                  title: 'Remove Successfully',
                  showConfirmButton: false,
                  timer: 1500
            }).then((result) => {
                // var $delItem = $this.parents('td').prev();        // Lấy cột Total
                // var delItem = $delItem.children(':input').val();  // Lấy giá trị cột Total
                // totalPrice -= delItem;
                // $totalPrice.children(':input').val(totalPrice);
                // $totalPrice.children('span').text(totalPrice + ' VND');

                $this.parent().submit();
                $this.remove();
            });
          });
        });
      });

    });

</script> 

{{/section}}

<!-- Main Container -->
<section class="main-container col1-layout">
  <div class="main container">
    <div class="col-main">
      <div class="cart">
        
        <div class="page-content page-order">
          <div class="page-title">
            <h2>Shopping Cart</h2>
          </div>

          <div class="order-detail-content">
            {{#if isEmpty}}
            <img src="/images/empty-cart.png" style="display: block; margin-left: auto; margin-right: auto;">
            <br><br>
            {{else}}
            <div class="table-responsive">
              <table class="table table-bordered cart_summary" id="list-cart">
                <thead>
                  <tr>
                    <th class="cart_product">Product</th>
                    <th>Name</th>
                    <th>Unit price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th  class="action"><i class="fa fa-trash-o"></i></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each cart}}
                  <tr class="row-tb-cart">
                    <td class="cart_product">
                      <a href="/products/detail?id={{ID}}"><img src="{{HinhAnh}}" alt="Product"></a>
                    </td>
                    <td class="cart_description">
                      <p class="product-name"><a href="/products/detail?id={{ID}}"> {{Ten}} </a></p>
                    </td>
                    <td class="unit-price">
                      <input type="hidden" value="{{GiaBan}}">
                      <span> {{number_format GiaBan}} VND</span>
                    </td>
                    <td class="qty">
                      <form action="/cart/update?id={{ID}}" method="post" class="frmAddToCart">
                        <input class="myQty form-control input-sm" type="number" min="1" max="{{SoLuongTon}}" 
                        value="{{SoLuong}}" name="proQty">
                      </form>
                    </td>
                    <td class="row-total">
                      <input type="hidden" value="0">
                      <span>{{number_format Price}} VND</span>
                    </td>
                    <td class="action">
                      <form action="/cart/remove?id={{ID}}" method="post" class="frmRemoveCart">
                        <button type="submit" class="btnDel" style="border: none; background-color: transparent">
                          <span><i class="icon-close"></i></span> 
                        </button>
                      </form>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3"><strong>Total</strong></td>
                    <td colspan="2" class="myTotal"><input type="hidden" value="0">
                      <span>
                      {{#each ToTalPrice}}
                      {{number_format Tong}} VND
                      {{/each}}
                      </span></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            {{/if}}
            <div class="cart_navigation"> 
              <a class="continue-btn" href="/home"><i class="fa fa-arrow-left"> </i>&nbsp; Continue shopping</a> 
              <a class="checkout-btn button" href="/cart/checkout" role="button">
                <i class="fa fa-check"></i> Proceed to checkout
              </a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>