{{#section 'title'}}
  Checkout
{{/section}}

{{#section 'css'}}
  
{{/section}}
    
{{#section 'js'}}
    <script type="text/javascript">
        $(function() {
            var today = new Date();
            $('#orderDate').val(today.getDate() + "/" + (today.getMonth() + 1) + "/" + today.getFullYear());
        });

    </script>
{{/section}}

<!-- Breadcrumbs -->
  
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="/home">Home</a><span>&raquo;</span></li>
            <li> <a href="/cart">Cart</a><span>&raquo;</span></li>
            <li><strong>Checkout</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
  
  <!-- Main Container -->
  <section class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <div class="col-main col-sm-9 col-xs-12">
            <div class="page-title">
              <h2>Checkout</h2>
            </div>
        </div>
      </div>
      <form method="post">
      <div class="row">
        <div class="col-md-3">
          <img src="/images/shipping.png">
          <img src="/images/guarantee-badge.png" width="80%" height="80%">
        </div>
        <div class="col-md-5">
          <div class="page-content checkout-page">
            {{!-- <h4 class="checkout-sep last">Order Review</h4> --}}
            {{!-- <br> --}}
            <div class="box-border">
                {{#with customer}}
                <div class="form-group">
                    <label for="cusName">Customer name:</label>
                    <input type="text" name="cusName" class="form-control" value="{{HoTen}}" readonly>
                </div>
                <input type="hidden" name="cusID" value="{{ID}}">
                <div class="form-group">
                    <label for="cusAddress">Ship To:</label>
                    <input type="text" name="cusAddress" class="form-control" value="{{DiaChi}}" readonly>
                </div>
                <div class="form-group">
                    <label for="cusTel">Tel:</label>
                    <input type="text" name="cusTel" class="form-control" value="{{SDT}}" readonly>
                </div>
                {{/with}}
                <div class="form-group">
                    <label for="orderDate">Date:</label>
                    <input type="text" id="orderDate" name="orderDate" class="form-control" readonly>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <br><br>
          <table>
            <thead>
              <tr>
                <th style="padding: 10px; text-align: left;">Qty</th>
                <th style="padding: 10px; text-align: left;">Name</th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
              <tr>
                <td style="padding: 10px; text-align: left;">{{SoLuong}}</td>
                <td style="padding: 10px; text-align: left;">{{Ten}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{#each order}}
          <div class="form-group">
              <label for="TongCong">Total:</label>
              <input type="text" class="form-control" name="TongCong" readonly style="font-weight: bold; color: red; font-size: 20px;" value="{{number_format Tong}} VND">
              <input type="hidden" name="orderTotal" value="{{Tong}}">
          </div>
          {{/each}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5" style="text-align: center;">
            <button class="btn btn-success" type="submit" id="btnCheckout" style="margin: 0 auto;">
            Place Order
            </button>
        </div>
        <div class="col-md-4"></div>
      </div>
      </form>
    </div>
  </section>
  <!-- Main Container End --> 